body {
    background-color: #e0f7fa; /* Light blue background */
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    color: #4CAF50;
    text-align: center;
    font-size: 3em;
    margin-bottom: 20px;
}


.centered-bold-text {
    text-align: center;
    font-weight: bold;
    color: rgb(228, 108, 104); 
    margin: 20px 0; 
}


.css-1y4p8pa {
    border: 2px solid #4CAF50 !important;
    padding: 10px !important;
    border-radius: 10px !important;
}


.css-1lcbmhc {
    background-color: #f8f8f8 !important;
    border-right: 2px solid #4CAF50 !important;
    padding: 10px !important;
}


.stButton > button {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    border: none;
    font-size: 1em;
    cursor: pointer;
    margin: 5px;
}

.stButton > button:hover {
    background-color: #45a049;
}


.stDataFrame {
    border: 2px solid #4CAF50;
    border-radius: 10px;
    overflow: hidden;
    margin: 20px auto;
    width: fit-content;
    max-width: 90%; 
}


.stDataFrame table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin: auto;
}

.stDataFrame th, .stDataFrame td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.stDataFrame th {
    background-color: #4CAF50;
    color: white;
}


.css-18e3th9 {
    justify-content: center;
}


.css-1v0mbdj {
    padding: 30px;
}


.stMarkdown {
    margin-bottom: 20px;
    line-height: 1.6;
}
